.airlk{ background:#9999cc; color:#000000; }
.areana{ background:#cc99cc; color:#000000; }
.armory{ background:#330033; color:#ffffff; }
.astrlab{ background:#663366; color:#cccccc; }
.bar{ background:#993300; color:#cccccc; }
.biolab{ background:#ccff00; color:#000000; }
.brig{ background:#333333; color:#cccccc; }
.church{ background:#66cc33; color:#000000; }
.cmd{ background:#000033; color:#ffffff; }
.coaster {background:#8fbc8f; color:#000000; }
.commer{ background:#0066ff; color:#000000; }
.corridor{ background:#ffffff; color:#000000; }
.cryolab{ background:#ffff00; color:#000000; }
.damage {background:#d8bfd8; color:#000000; }
.delete{ background:#000000; color:#ffffff; }
.edu {background:#bc8f8f; color:#000000; }
.elev{ background:#996666; color:#000000; }
.food {background:#dda0dd; color:#000000; }
.generator{ background:#cccccc; color:#000000; }
.genlab{ background:#66cc66; color:#000000; }
.geolab{ background:#ccccff; color:#000000; }
.greenhs{ background:#0cc000; color:#000000; }
.grocery {background:#4682b4; color:#000000; }
.gym{ background:#336699; color:#000000; }
.infirm {background:#db7093; color:#000000; }
.lib {background:#e6e6fa; color:#000000; }
.lifespt{ background:#ff6699; color:#000000; }
.living{ background:#99ffff; color:#000000; }
.mall{ background:#ccc000; color:#000000; }
.manor {background:#bc8f8f; color:#000000; }
.manu{ background:#3399ff; color:#000000; }
.medbay{ background:#ff0033; color:#000000; }
.medrm{ background:#cc9966; color:#000000; }
.nc{ background:#ff0066; color:#000000; }
.observdk{ background:#003300; color:#cccccc; }
.office {background:#ffc0cb; color:#000000; }
.park{ background:#996633; color:#000000; }
.phylab{ background:#ff3333; color:#000000; }
.power {background:#f0fff0; color:#000000; }
.psilab{ background:#ff9900; color:#000000; }
.recrm{ background:#cc0000; color:#cccccc; }
.roblab{ background:#006666; color:#cccccc; }
.secdep {background:#ffebcd; color:#000000; }
.security{ background:#ff3300; color:#000000; }
.shutbay{ background:#003333; color:#cccccc; }
.slum {background:#a0522d; color:#000000; }
.space{ background:#000000; color:#ffffff; }
.supply {background:#e0ffff; color:#000000; }
.theatre {background:#f0e68c; color:#000000; }
.votech {background:#deb887; color:#000000; }
.warehs{ background:#3300cc; color:#cccccc; }
.waste {background:#778899; color:#000000; }
.raw {background:#ffdab9; color:#000000; }

