#foreach($i in $inv)
<tr>
    #if ($i.type == "weapon" || $i.type == "armor")
        <td>$i.name ($i.condition) ($i.ammoleft)</td>
    #else
        <td>$i.name</td>
    #end
    <td>$i.wt</td>
    #if ($i.type == "food")
    <td><a href="#" onclick="eat(${i.itemid})">Eat</a> | <a href="#" onclick="drop(${i.itemid});">Drop</a></td>
    #elseif ($i.type == "booze")
    <td><a href="#" onclick="drink(${i.itemid})">Drink</a> | <a href="#" onclick="drop(${i.itemid});">Drop</a></td>
    #elseif ($i.type == "weapon")
        #if ($i.equipped)
            <td><a href="unequip.jsp?weaponid=${i.itemid}" >Unequip</a></td>
        #else
            <td><a href="equip.jsp?weaponid=${i.itemid}" >Equip</a> | <a href="#" onclick="drop(${i.itemid});">Drop</a></td>
        #end
    #else
    <td><a href="#" onclick="drop(${i.itemid});">Drop</a></td>
    #end
</tr>
#end
