#set ($da = $stats.ticksalive / 96)
Days alive: $da
<br/><span class="hp">HP: $stats.hp</span>
<br/><span class="ip">IP: $stats.ip</span>
<br/><span class="ap">AP: $stats.ap</span>
<br/><span class="xp">XP: $stats.xp</span>
